@using YogiApekshit.Web.Models
@{
    Layout = "~/Views/Shared/_Layout_noAngular.cshtml";
}
@model QA_Filter_Parameters

<div class="page page-dashboard">
    <div>
        @{Html.RenderPartial("OneSentence_Partial", Model);}
    </div>
</div>
