@using YogiApekshit.Web.Models
@using SwamiXitiz.Data.ModelsPartial

@{
    Layout = "~/Views/Shared/_Layout_noAngular.cshtml";
}
@model QA_Filter_Parameters

<div class="page page-dashboard">
    @if (!string.IsNullOrEmpty(Model.Category))
    {
        Html.RenderPartial(Model.Category.Replace("_", "") + "_Partial", Model);
    }
    else
    {
        Html.RenderPartial("OneSentence_Partial", Model);
        Html.RenderPartial("CorrectOption_Partial", Model);
        Html.RenderPartial("CorrectSentence_Partial", Model);
        Html.RenderPartial("CorrectSequence_Partial", Model);
        Html.RenderPartial("FillInBlank_Partial", Model);
        Html.RenderPartial("Kirtan_Partial", Model);
        Html.RenderPartial("Reason_Partial", Model);
        Html.RenderPartial("Shlok_Partial", Model);
        Html.RenderPartial("ShortNote_Partial", Model);
        Html.RenderPartial("WhoWhomWhen_Partial", Model);
        Html.RenderPartial("SwaminiVaato_Partial", Model);
    }
</div>
@section scripts{
    <script language="JavaScript">

        var keys = '@string.Join(",", Enum.GetNames(typeof(Constants.Que_Categories)))'.split(',');
        $.each(keys, function (index, value) {
            //alert(index + ": " + value);
            var gridId = '#grid' + value;
            var gridParentId = '#div' + 'grid' + value;

            $(gridId).on('aweload', function (event, data, requestData) {
                if (data.PageCount == 0) {
                    $(gridParentId).remove();
                }
                //console.log('aweload handled', data, requestData);
            });
        });
    </script>
}