<div #wrapper id="wrapper" class="toggled">
    
    this is main
    
    <!--<navbar-left></navbar-left>-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" style="padding-left:10px;padding-right:10px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <router-outlet></router-outlet>
                    <!--<detail-view [menu]="selectedMenu"></detail-view>-->
                </div>
            </div>
        </div>
    </div>
</div>