@using YogiApekshit.Models
@{
    ViewBag.Title = "Faq";
}

@{var gridId = "CityGrid";}

<style type="text/css">
    .custom-font {
        font-family: 'JJECBH+Krishna';
        font-size: 24px;
    }

    .guj-font {
        font-family: 'JJECBH+Krishna';
        font-size: 20px;
    }

    .examColumn {
        font-size: 18px;
    }

    .whoColumn {
        white-space: nowrap;
    }

    .whomColumn {
        white-space: nowrap;
    }

    .whenColumn {
        font-style: italic;
        font-size: 20px;
    }

    .doublearrow-white {
        background-image: url('../../Images/double-arrow-white.png');
    }

    font-face {
        font-family: "AgencyFBRegular";
        src: url("../Content/fonts/JJECBH_Krishna.ttf");
    }

    font-face {
        font-family: 'krishna-normal';
        src: url('http://www.fontsaddict.com/fontface/krishna-normal.TTF');
    }

    h3 {
        font-family: 'Agency FB', sans-serif;
        font-size: 26px;
        font-weight: normal;
        text-align: left;
        line-height: 100%;
        border-bottom: 1px solid #484848;
        padding-bottom: 5px;
        margin-bottom: 7px;
    }
</style>

<div class="page page-dashboard">
    @Html.Partial("BreadcrumbPartial", new BreadcrumbAndTitleModel("City"))

    <section class="tile bg-greensea">

        @Html.Partial("GridToolbar", new GridToolbarModel { GridId = gridId, Title = "ﬁÌ«ı ±Î’ı·Î ±‰÷ﬂHÎ˘ ¿˘HÎ, ¿˘ﬁı ±ﬁı ¿uÎﬂı ¿Ëı »ı ÷ı ·¬˘. ", SubTitle = "(¿<· √HÎ — 9)" })
        <div class="guj-font">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>±‰÷ﬂHÎ</th>
                        <th>¿˘HÎ ¿Ëı »</th>
                        <th>
                            <img src="/Images/double-arrow-white.png" width="16px" />
                        </th>
                        <th>¿˘ﬁı ¿Ëı »</th>
                        <th>’ﬂÌZÎÎ</th>
                    </tr>
                </thead>
                <tbody class='WhoIsSpeaking-result'></tbody>
            </table>
        </div>

        <script type='text/x-jquery-tmpl' id='WhoIsSpeaking-template'>
            <tr class='person'>
                <td>${autoInc()}.</td>
                <td>
                    ${ QUE } <br />
                    <i class="doublearrow-white"></i>
                    <img src="/Images/double-arrow-white.png" width="16px" />
                    <span class="whenColumn">${WHEN}</span>
                    @*<strong>Skills: </strong><br />
                        {{tmpl(Skills) '#skills-template'}}*@
                </td>
                <td class="whoColumn">${WHO}</td>
                <td><img src="/Images/double-arrow-white.png" width="16px" /></td>
                <td class="whomColumn">${WHOM}</td>
                <td class="examColumn">${EXAM}</td>
            </tr>
        </script>

        <script type='text/x-jquery-tmpl' id='skills-template'>
            ${Skill}
            <br />
        </script>

        @*<script type='text/x-jquery-tmpl' id='person-template'>
                        <div class='person' style="font-family: 'JJECBH+Krishna'; font-size:22px;">
                            <strong>±‰÷ﬂHÎ:</strong> ${ QUE } <br />
                            ${WHO} --- ${WHOM}
                            ${WHen}
                            @*<strong>Skills: </strong><br />
                                {{tmpl(Skills) '#skills-template'}}
            </div>
                    </script>

            <script type='text/x-jquery-tmpl' id='skills-template'>
                ${Skill}
                <br />
            </script>*@
    </section>
</div>

@section scripts{
    <script src="~/Scripts/QuestionBank/Pravesh_1/Pravesh_1_Q7_WhoIsSpeaking.js"></script>

    <script type="text/javascript">
        var seq = 0;
        function autoInc() {
            return ++seq;
        }

        $(document).ready(function () {
            var x = new Pravesh_1_Q7_WhoIsSpeaking();
            $('#WhoIsSpeaking-template').tmpl(x.Questions).appendTo('.WhoIsSpeaking-result');
        });
    </script>
}

