
<form materialize class="form-horizontal" style="margin-top:50px;" [formGroup]="form" (ngSubmit)="save()">
    <fieldset>
        <legend>{{ title }}</legend>
        <input type="hidden" class="form-control input-sm" id="Id"
               placeholder="Please enter Id"
               formControlName="Id"
               [(ngModel)]="eventschedule.Id" readonly />

        <div class="form-group">
            <label class="control-label col-sm-1" for="EventId" [class.active]="eventschedule.EventId" data-error="Event is required">Event:</label>
            <div class="col-sm-11">
                <events-ddl [selectedEventId]="eventschedule.EventId" (select)="onEventChange($event)">Loading....</events-ddl>
            </div>
        </div>
        <div class="form-group">
            <!-- Date input -->
            <label class="control-label col-sm-1" for="EventShortDate">Date:</label>
            <div class="col-sm-11">
                <input type="date" class="form-control input-sm date-picker" placeholder="MM/DD/YYYY" title="{{eventschedule.EventShortDate }}"
                       id="EventShortDate" name="EventShortDate" formControlName="EventShortDate" [value]="eventschedule.EventShortDate | date:'yyyy-MM-dd'" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="Notes">Notes:</label>
            <div class="col-sm-11">
                <textarea id="Notes" style="width:100%"
                          formControlName="Notes"
                          [(ngModel)]="eventschedule.Notes" ></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="IsFreezed">Freezed?:</label>
            <div class="col-sm-1">
                <input type="checkbox" id="IsFreezed"
                       formControlName="IsFreezed"
                       [(ngModel)]="eventschedule.IsFreezed" />
            </div>
        </div>

        <div class="form-group col-sm-12" style="float:right">
            <button type="submit" class="col-sm-1 btn btn-default btn-sm" style="float:right;" routerLink="/eventschedules">
                Back
            </button>
            <button type="submit" class="col-sm-1 btn btn-default btn-sm" style="float:right;margin-right:10px;">
                Submit
            </button>
        </div>
    </fieldset>
</form>