
<form materialize class="form-horizontal" style="margin-top:50px;" [formGroup]="form" (ngSubmit)="save()">
    <fieldset>
        <legend>{{ title }}</legend>

        <div class="form-group">
            <label class="control-label col-sm-1" for="Id">Id:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control input-sm" id="Id"
                       placeholder="Please enter Id"
                       formControlName="Id"
                       [(ngModel)]="eventschedule.Id" readonly />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="EventId" [class.active]="eventschedule.EventId" data-error="Event is required">Event:</label>
            <div class="col-sm-11">
                <events-ddl [selectedEventId]="eventschedule.EventId" (select)="onEventChange($event)">Loading....</events-ddl>
            </div>
        </div>
        <div class="form-group">
            <!-- Date input -->
            <label class="control-label col-sm-1" for="EventDate">Date:{{eventschedule.EventDate }}</label>
            <div class="col-sm-11">
                <input type="date" class="form-control input-sm date-picker" placeholder="MM/DD/YYY"
                       id="EventDate" name="EventDate" formControlName="EventDate" [value]="eventschedule.EventDate | date:'yyyy-MM-dd'" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="Id">Is Freezed?:</label>
            <div class="col-sm-1">
                <input type="checkbox"  id="IsFreezed"
                       formControlName="IsFreezed"
                       [(ngModel)]="eventschedule.IsFreezed" />
            </div>
        </div>

        <div class="form-group col-sm-12" style="float:right">            
            <button type="submit" class="col-sm-1 btn btn-default btn-sm" style="float:right;" routerLink="/eventschedules">
                Back
            </button>
            <button type="submit" class="col-sm-1 btn btn-default btn-sm" style="float:right;margin-right:10px;"
                    [disabled]="!form.valid">
                Submit
            </button>
        </div>
    </fieldset>
</form>