<div id="controls">
    <aside id="sidebar"  class="scheme-default aside-fixed">
        <div id="sidebar-wrap">
            <div class="panel-group slim-scroll" role="tablist">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#sidebarNav">
                                Navigation <i class="fa fa-angle-up"></i>
                            </a>
                        </h4>
                    </div>
                    <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                        <div class="panel-body">
                            <ul id="navigation">
                                <li *ngFor="let examMenu of menus"
                                    [class.selected]="menu === selectedMenu"
                                    (click)="onSelect(examMenu)">
                                    <a role="button"><i class="{{examMenu.IConClass}}"></i><span>{{examMenu.Name}}</span></a>
                                
                                    <ul>
                                        <li *ngFor="let bookmenu of examMenu.MenuItems">
                                            <a role="button"><i class="{{bookmenu.IConClass}}"><img src="{{bookmenu.IConUrl}}" width="24px" height="24px" /></i><span>{{bookmenu.Name}}</span></a>
                                            <ul>
                                                <li *ngFor="let chaptermenu of bookmenu.MenuItems">
                                                    <a role="button"><i class="{{chaptermenu.IConClass}}"></i><span>{{chaptermenu.Name}}</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>                                
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</div>

<section id="content">
    <div class="row">

        <my-hero-detail [menu]="selectedMenu"></my-hero-detail>
    </div>
</section>