
<nav class="navbar navbar-m2p sidebar" role="navigation" id="myDropdown">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display --><div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" [innerHTML]="title">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li class="active open">
                    <a href="#">
                        {{selectLangText}}
                        <span style="margin-top:-5px;margin-left:15px;" (click)="ChangeLanguage('Eng', $event)" class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">E</span>
                        <span style="margin-top:-5px;" (click)="ChangeLanguage('Guj', $event)" class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">G</span>
                    </a>
                </li>
                <li attr.data-target="#Book{{bookmenu.Id}}"
                    *ngFor="let bookmenu of menus">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">burst_mode</span>
                        {{bookmenu.Name}} <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu forAnimate" role="menu" id="Book{{bookmenu.Id}}">
                        <li *ngFor="let chaptermenu of bookmenu.MenuItems"
                            [class.selected]="menu === selectedMenu"
                            (click)="onSelect(chaptermenu, $event)">
                            <a href="#"><i class="material-icons">add</i>{{chaptermenu.Name}}</a>
                        </li>
                    </ul>
                </li>

                <!--<li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">burst_mode</span>
                        Banners <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <li class="separator">Content</li>

                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">description</span>
                        Pages <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>

                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">chat_bubble_outline</span>
                        Blog <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon material-icons">label</span>
                        Tags <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"> <i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"> <i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>
                <li class="separator">System</li>

                <li class="#">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">group</span>
                        Users <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li><a href="#"><i class="material-icons">add</i> Add</a></li>
                        <li><a href="#"><i class="material-icons">sort</i> List</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        <span class="menu-icon pull-right hidden-xs showopacity glyphicon material-icons">exit_to_app</span> Exit
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <detail-view [menu]="selectedMenu"></detail-view>
</div>