<div id="wrapper" class="toggled">
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="active open" style="background: #ec1b5a;">
                <a href="#" class="dropdown-toggle">
                    <button type="button"
                            class="hamburger navbar-toggle"
                            data-toggle="collapse"
                            onclick="$('#wrapper').toggleClass('toggled')">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div style="float:right;white-space;noWrap;font-size:13px;">
                        <tr>
                            <!--td style='font-size:13px;padding-right:5px;'>
                                {{this.sharedService.SelectLangText}}
                            </td-->

                            <td align='left'>
                                <button class="btn btn-xs {{this.sharedService.Lang.value==='Guj'?'btn-success':'btn-info'}}"
                                        style='width:110px' (click)="ChangeLanguage('Guj', $event)">
                                    <img src="Images/india-icon.png" style='float:left;width:26px;padding-right:5px;' />
                                    <span style='vertical-align:middle;float:left'>ગુજરાતી</span>
                                </button>

                                <button class="btn btn-xs {{this.sharedService.Lang.value==='Eng'?'btn-success':'btn-info'}}"
                                        style='width:90px' (click)="ChangeLanguage('Eng', $event)">
                                    <img src="Images/us-icon.png" style='float:left;width:26px;padding-right:5px;' />
                                    <span style='vertical-align:middle;float:left'>English</span>
                                </button>

                                <!-- img src="Images/us-icon.png" style='width:26px;cursor:pointer' (click)="ChangeLanguage('Eng', $event)"/>
                                <img src="Images/india-icon.png" style='width:26px;cursor:pointer' (click)="ChangeLanguage('Guj', $event)"/-->

                                <button type="button" class="btn btn-info btn-xs" title="Feedback" (click)="SendFeedback($event)">@</button>
                            </td>
                        </tr>
                        <tr>
                            <td align='left'>
                                <button class="btn btn-xs {{this.sharedService.IsAssessmentMode==false?'btn-success':'btn-info'}}"
                                        style="margin-top:5px;margin-bottom:5px;width:110px;" (click)="this.sharedService.SetAssessmentMode(false);">
                                    <img src="Images/preparation-icon.png" style='float:left;width:26px;padding-right:5px;' />
                                    <span style='vertical-align:middle;float:left'>{{this.sharedService.PreparationModeText}}</span>
                                </button>
                                <button class="btn btn-xs {{this.sharedService.IsAssessmentMode==true?'btn-success':'btn-info'}}"
                                        style="width:120px" (click)="this.sharedService.SetAssessmentMode(true);">
                                    <img src="Images/assessment-icon.png" style='float:left;width:26px;padding-right:5px;' />
                                    <span style='vertical-align:middle;float:left'>{{this.sharedService.AssessmentModeText}}</span>
                                </button>
                            </td>
                        </tr>
                    </div>
                    <!--div>
                        <button class="btn btn-info btn-xs" style="margin-left:35px;font-size:13px" (click)="this.sharedService.SetAssessmentMode(!this.sharedService.IsAssessmentMode);">{{this.sharedService.SwitchModeText}}</button>
                    </div-->
                </a>
            </li>
            <li class="dropdown" attr.data-target="#Book{{bookmenu.Id}}"
                *ngFor="let bookmenu of menus">

                <hr *ngIf="bookmenu.IsDivider" />

                <a *ngIf="bookmenu.IsDivider==false" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{bookmenu.Name}} <span class="caret"></span>
                </a>

                <ul *ngIf="bookmenu.IsDivider==false" class="dropdown-menu" role="menu" id="Book{{bookmenu.Id}}">
                    <li *ngFor="let chaptermenu of bookmenu.MenuItems"
                        [class.selected]="menu === selectedMenu"
                        (click)="onSelect(chaptermenu, $event)">

                        <a href="#" title="{{chaptermenu.Name}}"><i class="material-icons" style="verticle-alignment:bottom;font-size:14px;padding-top:3px;padding-bottom:3px;padding-left:5px;padding-right:5px;">add</i>{{chaptermenu.Name}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid" style="padding-left:10px;padding-right:10px;">
            <div class="row">
                <div class="col-lg-12 col-md-10 col-sm-9">
                    <detail-view [menu]="selectedMenu"></detail-view>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>   