<table *ngIf="qa_vm != null && qa_vm != undefined && qa_vm.QARecords != null && qa_vm.QARecords != undefined && qa_vm.QARecords.length > 0"
       class="table" [style.background-color]="qa_vm.Color">
    <thead>
        <tr>
            <th width="30px;">
                <a class="btn btnTableCollapse" style="padding:0px" data-toggle="collapse" attr.data-target="#tbody{{this.category}}" aria-expanded="true"></a>
            </th>
            <th>{{QueAnsColumnText}}</th>
        </tr>
    </thead>
    <tbody id="tbody{{this.category}}" class="collapse in">
        <tr *ngFor="let qa of qa_vm.QARecords">
            <td style='white-space:nowrap;' align='center'>
                <div style='text-align:center'>
                    {{qa.Sr}}
                </div>
                <button type="button" style='float:left;' *ngIf="this.sharedService.IsAssessmentMode" (click)="qa.ShowAns = !qa.ShowAns" class="btn btn-info btn-xs">{{this.sharedService.ShowAnsText}}</button>
            </td>
            <td>
                <div style='font-weight:bold' [innerHTML]="qa.Que"></div>
                <div [style.display]="this.sharedService.IsAssessmentMode && !qa.ShowAns ? 'none' : 'block' " class="answer answer{{this.sharedService.Lang.value}}" [innerHTML]="qa.Ans"></div>
            </td>
        </tr>
    </tbody>
</table>