<div class="table-responsive bg-greensea">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    Question and Answer
                </th>
                <th>
                    Chapter
                </th>
                <th>Exams</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let qa of qa_list">
                <td>{{qa.Sr}}</td>
                <td>
                    <div style="padding-bottom:10px;">
                        <b>{{qa.Que}}</b>
                        <div class="answer"><b>Ans:</b> {{qa.Ans}}</div>
                    </div>
                </td>
                <td>{{qa.Chapter}}</td>
                <td>{{qa.Exams}}</td>
            </tr>
        </tbody>
    </table>
</div>