@using Mvc.Core.ThirdParty
@using YogiApekshit.Web.Models
@using SwamiXitiz.Data.ModelsPartial
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page page-dashboard">
    @Html.Partial("_BreadcrumbPartial", new BreadcrumbAndTitleModel("Correct Options"))
    <section class="tile bg-greensea">
        @Html.Partial("GridToolbar", new GridToolbarModel { Title = "From the given options, place a tick (✔) in the box next to the correct ones.", SubTitle = "(Total Marks: 8)" })
        <div ng-controller="PrarambhController">
            <span>{{QA_List_Load('@Constants.Que_Categories.CorrectOption')}}</span>
            <table class="table table-condensed queAnsTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Topic and Correct Options</th>
                        <th>Chapter</th>
                        <th>Exams</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in QA_List">
                        <td class="sequenceColumn">{{item.Sr}}.</td>
                        <td class="queAndansColumn">
                            <p style="line-height:1.7">
                                <b>{{item.Title}}</b> <br />
                                <div ng-bind-html="item.Correct | sanitize"></div>
                            </p>
                        </td>
                        <td class="chapterColumn">{{item.Chapter}}</td>
                        <td class="examColumn">{{item.Exams}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

@section scripts{
}