@using Mvc.Core.ThirdParty
@using YogiApekshit.Web.Models
@using SwamiXitiz.Data.ModelsPartial
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page page-dashboard" ng-controller="PrarambhController">
    @Html.Partial("_BreadcrumbPartial", new BreadcrumbAndTitleModel("Who is speaking to whom and when"))
    <section class="tile bg-greensea">
        @Html.Partial("GridToolbar", new GridToolbarModel { Title = "State who is speaking to whom and when.", SubTitle = "(Total Marks: 9)" })
        <div>
            <span>{{QA_List_Load('@Constants.Que_Categories.WhoWhomWhen')}}</span>

            <table class="table table-condensed queAnsTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Statement</th>
                        @*<th>Who</th>
                            <th>
                                <img src="/Images/double-arrow-white.png" width="16px" />
                            </th>
                            <th>Whom</th>*@
                        <th>Chapter</th>
                        <th>Exams</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in QA_List">
                        <td class="sequenceColumn">{{item.Sr}}.</td>
                        <td class="queAndansColumn">
                            <p style="line-height:1.7">
                                <b>{{item.Que}}</b>
                            </p>
                            <p style="line-height:1.7">
                                <span style="font-style:italic; color:black">{{item.Who}}</span>
                                <img src="/Images/double-arrow-white.png" width="16px" />
                                <span style="font-style:italic; color:black">
                                    {{item.Whom}}
                                </span>
                                <br />
                                <i class="doublearrow-white"></i>
                                <img src="/Images/double-arrow-white.png" width="16px" />
                                <span class="whenColumn">{{item.When}}</span>
                            </p>
                        </td>
                        @*<td class="whoColumn">{{item.Who}}</td>
                            <td><img src="/Images/double-arrow-white.png" width="16px" /></td>
                            <td class="whomColumn">{{item.Whom}}</td>*@
                        <td class="chapterColumn">{{item.Chapter}}</td>
                        <td class="examColumn">{{item.Exams}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>