<section id="header">
    <header class="clearfix">

        <!-- Branding -->
        <div class="branding">
            <a class="brand" href="~/Home/Index">
                <span style="padding-left:25px;font-size:24px"><strong>Yogi</strong> Apekshit</span>
            </a>
            <a role="button" tabindex="0" class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Branding end -->

        <!-- Left-side navigation -->
        <ul class="nav-left pull-left list-unstyled list-inline">
            <li class="sidebar-collapse divided-right">
                <a role="button" tabindex="0" class="collapse-sidebar">
                    <i class="fa fa-outdent"></i>
                </a>
            </li>
        </ul>
        <!-- Left-side navigation end -->
    </header>
</section>
