@using Mvc.Core.ThirdParty
@using YogiApekshit.Web.Models
@using SwamiXitiz.Data.ModelsPartial
@model QA_Filter_Parameters

@{var gridId = string.Format("grid{0}", Constants.Que_Categories.Kirtan.ToString());}
<div class="page page-dashboard" id="@string.Format("div{0}", gridId)" >
    <section class="tile bg-lightred">
        @Html.Partial("GridToolbar", new GridToolbarModel { Title = "Complete the Kirtans below.", SubTitle = "(Total Marks: 8)" })
        @(Html.ICon().Grid(gridId).ClientKey(gridId)
            .Url(Url.Action("GridRecords", "QA"))
            .Parameter("bookId", Model.BookId.ToString())
            .Parameter("category", Constants.Que_Categories.Kirtan.ToString())
            .Parameter("chapterNumber", Model.ChapterNumber.ToString())
            .Persistence(Persistence.Session)
            .Groupable(false)
            .Sortable(false)
            .Columns(
                    new Column { Name = "Sr", Header = "Sr.", Width = 40 },
                    new Column { ClientFormat = Utils.KirtanFormat(), Header = "Kirtan" },
                    new Column { Name = "Chapter", Header = "Chapter", Width = 90 },
                    new Column { Name = "Exams", Header = "Exams", Width = 130 }
                ))
    </section>
</div>