@using Mvc.Core.ThirdParty
@using YogiApekshit.Web.Models
@using SwamiXitiz.Data.ModelsPartial
@model QA_Filter_Parameters

@{var gridId = "gridSwaminiVato";}
<div class="page page-dashboard">
    @Html.Partial("BreadcrumbPartial", new BreadcrumbAndTitleModel("Swamini Vato"))
    <section class="tile bg-greensea">
        @Html.Partial("GridToolbar", new GridToolbarModel { Title = "Complete the Swamini Vato and write an explanatory note on it (in 15 lines)", SubTitle = "(Total Marks: 5)" })
        @(Html.ICon().Grid(gridId)
             .Url(Url.Action("GridRecords", "QA"))
            .Parameter("bookId", Model.BookId.ToString())
            .Parameter("category", Constants.Que_Categories.SwaminiVat.ToString())
            .Parameter("chapterNumber", Model.ChapterNumber.ToString())
            .Persistence(Persistence.Session)
            .Groupable(false)
            .Sortable(false)
            .Columns(
                new Column { Name = "Sr", Width = 70, Hidden = true },
                new Column { Name = "Que", Header = "Question" },
                new Column { Name = "Ans", Header = "Answer" },
                new Column { Name = "Chapter", Header = "Chapter" },
                new Column { Name = "Exams", Header = "Exams" }
                ))
    </section>
</div>

@section scripts{
}