@using Mvc.Core.ThirdParty
@using YogiApekshit.Web.Models
@using SwamiXitiz.Data.ModelsPartial
@model QA_Filter_Parameters

@{var gridId = "gridWWW";}
<section class="tile bg-greensea">
    @Html.Partial("GridToolbar", new GridToolbarModel { Title = "State who is speaking to whom and when.", SubTitle = "(Total Marks: 9)" })
    @(Html.ICon().Grid(gridId)
             .Url(Url.Action("GridRecords", "QA"))
            .Parameter("bookId", Model.BookId.ToString())
            .Parameter("category", Constants.Que_Categories.SwaminiVat.ToString())
            .Parameter("chapterNumber", Model.ChapterNumber.ToString())
            .Persistence(Persistence.Session)
            .Groupable(false)
            .Sortable(false)
            .Columns(
                    new Column { Name = "Sr", Header = "Sr.", Width = 40 },
                            new Column { ClientFormat = Utils.WWWFormat(), Header = "Statement" },
                    new Column { Name = "Chapter", Header = "Chapter", Width = 90 },
                    new Column { Name = "Exams", Header = "Exams", Width = 130 }
                ))
</section>
