USE [EventAttendance]
GO
/****** Object:  ForeignKey [FK_EventSchedule_Event]    Script Date: 02/15/2017 18:04:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EventSchedule_Event]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_EventSchedule]'))
ALTER TABLE [dbo].[Att_EventSchedule] DROP CONSTRAINT [FK_EventSchedule_Event]
GO
/****** Object:  ForeignKey [FK_Attendee_Zone]    Script Date: 02/15/2017 18:04:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendee_Zone]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendee]'))
ALTER TABLE [dbo].[Att_Attendee] DROP CONSTRAINT [FK_Attendee_Zone]
GO
/****** Object:  ForeignKey [FK_Attendance_Attendee]    Script Date: 02/15/2017 18:04:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendance_Attendee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendance]'))
ALTER TABLE [dbo].[Att_Attendance] DROP CONSTRAINT [FK_Attendance_Attendee]
GO
/****** Object:  ForeignKey [FK_Attendance_EventSchedule]    Script Date: 02/15/2017 18:04:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendance_EventSchedule]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendance]'))
ALTER TABLE [dbo].[Att_Attendance] DROP CONSTRAINT [FK_Attendance_EventSchedule]
GO
/****** Object:  Table [dbo].[Att_Attendance]    Script Date: 02/15/2017 18:04:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendance_Attendee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendance]'))
ALTER TABLE [dbo].[Att_Attendance] DROP CONSTRAINT [FK_Attendance_Attendee]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendance_EventSchedule]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendance]'))
ALTER TABLE [dbo].[Att_Attendance] DROP CONSTRAINT [FK_Attendance_EventSchedule]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Attendance_IsAttended]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Att_Attendance] DROP CONSTRAINT [DF_Attendance_IsAttended]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Attendance_CreatedOn]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Att_Attendance] DROP CONSTRAINT [DF_Attendance_CreatedOn]
END
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Attendance_ModifiedOn]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Att_Attendance] DROP CONSTRAINT [DF_Attendance_ModifiedOn]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_Attendance]') AND type in (N'U'))
DROP TABLE [dbo].[Att_Attendance]
GO
/****** Object:  Table [dbo].[Att_Attendee]    Script Date: 02/15/2017 18:04:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendee_Zone]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendee]'))
ALTER TABLE [dbo].[Att_Attendee] DROP CONSTRAINT [FK_Attendee_Zone]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Attendee_IsKaryakar]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Att_Attendee] DROP CONSTRAINT [DF_Attendee_IsKaryakar]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_Attendee]') AND type in (N'U'))
DROP TABLE [dbo].[Att_Attendee]
GO
/****** Object:  Table [dbo].[Att_EventSchedule]    Script Date: 02/15/2017 18:04:26 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EventSchedule_Event]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_EventSchedule]'))
ALTER TABLE [dbo].[Att_EventSchedule] DROP CONSTRAINT [FK_EventSchedule_Event]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_EventSchedule_IsFreezed]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Att_EventSchedule] DROP CONSTRAINT [DF_EventSchedule_IsFreezed]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_EventSchedule]') AND type in (N'U'))
DROP TABLE [dbo].[Att_EventSchedule]
GO
/****** Object:  Table [dbo].[Att_Zone]    Script Date: 02/15/2017 18:04:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_Zone]') AND type in (N'U'))
DROP TABLE [dbo].[Att_Zone]
GO
/****** Object:  Table [dbo].[Att_City]    Script Date: 02/15/2017 18:04:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_City]') AND type in (N'U'))
DROP TABLE [dbo].[Att_City]
GO
/****** Object:  Table [dbo].[Att_Event]    Script Date: 02/15/2017 18:04:26 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_Event]') AND type in (N'U'))
DROP TABLE [dbo].[Att_Event]
GO
/****** Object:  Table [dbo].[Att_Event]    Script Date: 02/15/2017 18:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_Event]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Att_Event](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Att_Event] ON
INSERT [dbo].[Att_Event] ([Id], [Name]) VALUES (1, N'Ravi Sabha')
SET IDENTITY_INSERT [dbo].[Att_Event] OFF
/****** Object:  Table [dbo].[Att_City]    Script Date: 02/15/2017 18:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_City]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Att_City](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Att_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Att_City] ON
INSERT [dbo].[Att_City] ([Id], [Name]) VALUES (1, N'Albemarle')
INSERT [dbo].[Att_City] ([Id], [Name]) VALUES (2, N'Charlotte')
INSERT [dbo].[Att_City] ([Id], [Name]) VALUES (3, N'Clover')
SET IDENTITY_INSERT [dbo].[Att_City] OFF
/****** Object:  Table [dbo].[Att_Zone]    Script Date: 02/15/2017 18:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_Zone]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Att_Zone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Zone] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Att_Zone] ON
INSERT [dbo].[Att_Zone] ([Id], [Name]) VALUES (1, N'Albermarle')
INSERT [dbo].[Att_Zone] ([Id], [Name]) VALUES (2, N'East Charlotte')
INSERT [dbo].[Att_Zone] ([Id], [Name]) VALUES (3, N'Fort Mill')
SET IDENTITY_INSERT [dbo].[Att_Zone] OFF
/****** Object:  Table [dbo].[Att_EventSchedule]    Script Date: 02/15/2017 18:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_EventSchedule]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Att_EventSchedule](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[EventDate] [date] NOT NULL,
	[IsFreezed] [bit] NOT NULL CONSTRAINT [DF_EventSchedule_IsFreezed]  DEFAULT ((0)),
 CONSTRAINT [PK_EventSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Att_EventSchedule] ON
INSERT [dbo].[Att_EventSchedule] ([Id], [EventId], [EventDate], [IsFreezed]) VALUES (1, 1, CAST(0x493C0B00 AS Date), 1)
INSERT [dbo].[Att_EventSchedule] ([Id], [EventId], [EventDate], [IsFreezed]) VALUES (2, 1, CAST(0x503C0B00 AS Date), 1)
INSERT [dbo].[Att_EventSchedule] ([Id], [EventId], [EventDate], [IsFreezed]) VALUES (3, 1, CAST(0x573C0B00 AS Date), 1)
SET IDENTITY_INSERT [dbo].[Att_EventSchedule] OFF
/****** Object:  Table [dbo].[Att_Attendee]    Script Date: 02/15/2017 18:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_Attendee]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Att_Attendee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Address] [varchar](500) NULL,
	[Karyakar] [varchar](50) NULL,
	[IsKaryakar] [bit] NOT NULL CONSTRAINT [DF_Attendee_IsKaryakar]  DEFAULT ((0)),
	[CityId] [int] NULL,
	[ZoneId] [int] NULL,
 CONSTRAINT [PK_Attendee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Att_Attendee] ON
INSERT [dbo].[Att_Attendee] ([Id], [FirstName], [LastName], [Gender], [Address], [Karyakar], [IsKaryakar], [CityId], [ZoneId]) VALUES (1, N'Aarjav', N'Patel', N'M', N'6827 Creft Cir', N'No', 0, 10, 2)
INSERT [dbo].[Att_Attendee] ([Id], [FirstName], [LastName], [Gender], [Address], [Karyakar], [IsKaryakar], [CityId], [ZoneId]) VALUES (2, N'Abhi', N'Patel', N'M', N'1918 8th St SE', N'No', 0, 9, 5)
INSERT [dbo].[Att_Attendee] ([Id], [FirstName], [LastName], [Gender], [Address], [Karyakar], [IsKaryakar], [CityId], [ZoneId]) VALUES (3, N'Abhilasha', N'Mansinghka', N'F', N'11005 Sedgemoor Ln', N'No', 0, 2, 11)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[Att_Attendee] OFF
/****** Object:  Table [dbo].[Att_Attendance]    Script Date: 02/15/2017 18:04:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Att_Attendance]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Att_Attendance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EventScheduleId] [int] NOT NULL,
	[AttendeeId] [int] NOT NULL,
	[IsAttended] [bit] NOT NULL CONSTRAINT [DF_Attendance_IsAttended]  DEFAULT ((0)),
	[AttendanceTime] [datetime] NOT NULL,
	[CreatedOn] [datetime] NOT NULL CONSTRAINT [DF_Attendance_CreatedOn]  DEFAULT (getdate()),
	[ModifiedOn] [datetime] NOT NULL CONSTRAINT [DF_Attendance_ModifiedOn]  DEFAULT (getdate()),
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  ForeignKey [FK_EventSchedule_Event]    Script Date: 02/15/2017 18:04:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EventSchedule_Event]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_EventSchedule]'))
ALTER TABLE [dbo].[Att_EventSchedule]  WITH CHECK ADD  CONSTRAINT [FK_EventSchedule_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Att_Event] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_EventSchedule_Event]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_EventSchedule]'))
ALTER TABLE [dbo].[Att_EventSchedule] CHECK CONSTRAINT [FK_EventSchedule_Event]
GO
/****** Object:  ForeignKey [FK_Attendee_Zone]    Script Date: 02/15/2017 18:04:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendee_Zone]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendee]'))
ALTER TABLE [dbo].[Att_Attendee]  WITH CHECK ADD  CONSTRAINT [FK_Attendee_Zone] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[Att_Zone] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendee_Zone]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendee]'))
ALTER TABLE [dbo].[Att_Attendee] CHECK CONSTRAINT [FK_Attendee_Zone]
GO
/****** Object:  ForeignKey [FK_Attendance_Attendee]    Script Date: 02/15/2017 18:04:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendance_Attendee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendance]'))
ALTER TABLE [dbo].[Att_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Attendee] FOREIGN KEY([AttendeeId])
REFERENCES [dbo].[Att_Attendee] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendance_Attendee]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendance]'))
ALTER TABLE [dbo].[Att_Attendance] CHECK CONSTRAINT [FK_Attendance_Attendee]
GO
/****** Object:  ForeignKey [FK_Attendance_EventSchedule]    Script Date: 02/15/2017 18:04:26 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendance_EventSchedule]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendance]'))
ALTER TABLE [dbo].[Att_Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_EventSchedule] FOREIGN KEY([EventScheduleId])
REFERENCES [dbo].[Att_EventSchedule] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Attendance_EventSchedule]') AND parent_object_id = OBJECT_ID(N'[dbo].[Att_Attendance]'))
ALTER TABLE [dbo].[Att_Attendance] CHECK CONSTRAINT [FK_Attendance_EventSchedule]
GO
