
<form materialize class="form-horizontal" style="margin-top:50px;" [formGroup]="form" (ngSubmit)="save()">
    <fieldset>
        <legend>{{ title }}</legend>

        <input type="hidden" class="form-control input-sm" id="Id"
               placeholder="Please enter Id"
               formControlName="Id" 
               [(ngModel)]="event.Id" readonly />

        <div class="form-group">
            <label class="control-label col-sm-1" for="Name" [class.active]="event.Name" data-error="Name is required and needs to contain at least 3 chars">Name:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control input-sm validate" id="Name" placeholder="Please enter Event name"
                       style="border: 1px solid rgb(153, 202, 129);border-radius: .2em;box-shadow: 0 0 8px rgba(0,0,0,.08) inset;"
                       formControlName="Name"
                       [(ngModel)]="event.Name"
                       [class.invalid]="form.controls['Name'].touched && !form.controls['Name'].valid">
            </div>
        </div>
        <div class="form-group col-sm-12" style="float:right">            
            <button type="submit" class="col-sm-1 btn btn-default btn-sm" style="float:right;" routerLink="/events">
                Back
            </button>
            <button type="submit" class="col-sm-1 btn btn-default btn-sm" style="float:right;margin-right:10px;"
                    [disabled]="!form.valid">
                Submit
            </button>
        </div>
    </fieldset>
</form>
