<div class="row">
    <form materialize class="col s12" >
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input id="name" type="text" class="validate"
                       formControlName="name"
                       [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid">
                <label for="name"
                       [class.active]="event.name"
                       data-error="Name is required and needs to contain at least 3 chars">
                    Name
                </label>
            </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit"
                [disabled]="!form.valid">
            Submit<i class="material-icons right">send</i>
        </button>
    </form>
</div>