@using Mvc.Core.ThirdParty
@using YogiApekshit.Models
@{
    ViewBag.Title = "Prarambh Que_2";
}

@{var gridId = "grid";}

<div class="page page-dashboard">
    @Html.Partial("BreadcrumbPartial", new BreadcrumbAndTitleModel("Que2"))

    <section class="tile bg-greensea">
        @Html.Partial("GridToolbar", new GridToolbarModel { GridId = gridId, Title = "Que2", SubTitle = "Table" })

        @(Html.ICon().Grid(gridId)
            .Url(Url.Action("GridGetItems"))
            .Parent("txtSearch")
            .Persistence(Persistence.Session)
            .Groupable(false)
            .SingleColumnSort(true)
            .Columns(
                new Column { Name = "Id", Width = 70, Hidden = true },
                                new Column { Name = "Que_Eng", Header = "Que" },
                                new Column { Name = "Ans_Eng", Header = "Ans" },
                                new Column { Name = "ChapterNumber", Header = "Chapter" },
                                new Column { Name = "Exams", Header = "Exams" }

                ))
    </section>
</div>