USE [YogiApekshit]
GO
/****** Object:  ForeignKey [FK_Book_ExamLevel]    Script Date: 08/28/2016 00:05:27 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Book_ExamLevel]') AND parent_object_id = OBJECT_ID(N'[dbo].[Book]'))
ALTER TABLE [dbo].[Book] DROP CONSTRAINT [FK_Book_ExamLevel]
GO
/****** Object:  ForeignKey [FK_QueWhoWhomWhen_Book]    Script Date: 08/28/2016 00:05:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueWhoWhomWhen_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueWhoWhomWhen]'))
ALTER TABLE [dbo].[QueWhoWhomWhen] DROP CONSTRAINT [FK_QueWhoWhomWhen_Book]
GO
/****** Object:  ForeignKey [FK_QueSwaminiVat_Book]    Script Date: 08/28/2016 00:05:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueSwaminiVat_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueSwaminiVat]'))
ALTER TABLE [dbo].[QueSwaminiVat] DROP CONSTRAINT [FK_QueSwaminiVat_Book]
GO
/****** Object:  ForeignKey [FK_BookChapter_Book]    Script Date: 08/28/2016 00:05:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BookChapter_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[BookChapter]'))
ALTER TABLE [dbo].[BookChapter] DROP CONSTRAINT [FK_BookChapter_Book]
GO
/****** Object:  ForeignKey [FK_QueShortNote_Book]    Script Date: 08/28/2016 00:05:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueShortNote_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueShortNote]'))
ALTER TABLE [dbo].[QueShortNote] DROP CONSTRAINT [FK_QueShortNote_Book]
GO
/****** Object:  ForeignKey [FK_QueShlok_Book]    Script Date: 08/28/2016 00:05:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueShlok_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueShlok]'))
ALTER TABLE [dbo].[QueShlok] DROP CONSTRAINT [FK_QueShlok_Book]
GO
/****** Object:  ForeignKey [FK_QueReason_Book]    Script Date: 08/28/2016 00:05:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueReason_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueReason]'))
ALTER TABLE [dbo].[QueReason] DROP CONSTRAINT [FK_QueReason_Book]
GO
/****** Object:  ForeignKey [FK_QueOneSentence_Book]    Script Date: 08/28/2016 00:05:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueOneSentence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueOneSentence]'))
ALTER TABLE [dbo].[QueOneSentence] DROP CONSTRAINT [FK_QueOneSentence_Book]
GO
/****** Object:  ForeignKey [FK_QueKirtan_Book]    Script Date: 08/28/2016 00:05:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueKirtan_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueKirtan]'))
ALTER TABLE [dbo].[QueKirtan] DROP CONSTRAINT [FK_QueKirtan_Book]
GO
/****** Object:  ForeignKey [FK_QueFillInBlank_Book]    Script Date: 08/28/2016 00:05:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueFillInBlank_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueFillInBlank]'))
ALTER TABLE [dbo].[QueFillInBlank] DROP CONSTRAINT [FK_QueFillInBlank_Book]
GO
/****** Object:  ForeignKey [FK_QueCorrectSequence_Book]    Script Date: 08/28/2016 00:05:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectSequence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectSequence]'))
ALTER TABLE [dbo].[QueCorrectSequence] DROP CONSTRAINT [FK_QueCorrectSequence_Book]
GO
/****** Object:  ForeignKey [FK_QueCorrectSentence_Book]    Script Date: 08/28/2016 00:05:30 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectSentence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectSentence]'))
ALTER TABLE [dbo].[QueCorrectSentence] DROP CONSTRAINT [FK_QueCorrectSentence_Book]
GO
/****** Object:  ForeignKey [FK_QueCorrectOption_Book]    Script Date: 08/28/2016 00:05:30 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectOption_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectOption]'))
ALTER TABLE [dbo].[QueCorrectOption] DROP CONSTRAINT [FK_QueCorrectOption_Book]
GO
/****** Object:  Table [dbo].[QueCorrectOption]    Script Date: 08/28/2016 00:05:30 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectOption_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectOption]'))
ALTER TABLE [dbo].[QueCorrectOption] DROP CONSTRAINT [FK_QueCorrectOption_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueCorrectOption]') AND type in (N'U'))
DROP TABLE [dbo].[QueCorrectOption]
GO
/****** Object:  Table [dbo].[QueCorrectSentence]    Script Date: 08/28/2016 00:05:30 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectSentence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectSentence]'))
ALTER TABLE [dbo].[QueCorrectSentence] DROP CONSTRAINT [FK_QueCorrectSentence_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueCorrectSentence]') AND type in (N'U'))
DROP TABLE [dbo].[QueCorrectSentence]
GO
/****** Object:  Table [dbo].[QueCorrectSequence]    Script Date: 08/28/2016 00:05:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectSequence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectSequence]'))
ALTER TABLE [dbo].[QueCorrectSequence] DROP CONSTRAINT [FK_QueCorrectSequence_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueCorrectSequence]') AND type in (N'U'))
DROP TABLE [dbo].[QueCorrectSequence]
GO
/****** Object:  Table [dbo].[QueFillInBlank]    Script Date: 08/28/2016 00:05:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueFillInBlank_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueFillInBlank]'))
ALTER TABLE [dbo].[QueFillInBlank] DROP CONSTRAINT [FK_QueFillInBlank_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueFillInBlank]') AND type in (N'U'))
DROP TABLE [dbo].[QueFillInBlank]
GO
/****** Object:  Table [dbo].[QueKirtan]    Script Date: 08/28/2016 00:05:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueKirtan_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueKirtan]'))
ALTER TABLE [dbo].[QueKirtan] DROP CONSTRAINT [FK_QueKirtan_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueKirtan]') AND type in (N'U'))
DROP TABLE [dbo].[QueKirtan]
GO
/****** Object:  Table [dbo].[QueOneSentence]    Script Date: 08/28/2016 00:05:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueOneSentence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueOneSentence]'))
ALTER TABLE [dbo].[QueOneSentence] DROP CONSTRAINT [FK_QueOneSentence_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueOneSentence]') AND type in (N'U'))
DROP TABLE [dbo].[QueOneSentence]
GO
/****** Object:  Table [dbo].[QueReason]    Script Date: 08/28/2016 00:05:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueReason_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueReason]'))
ALTER TABLE [dbo].[QueReason] DROP CONSTRAINT [FK_QueReason_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueReason]') AND type in (N'U'))
DROP TABLE [dbo].[QueReason]
GO
/****** Object:  Table [dbo].[QueShlok]    Script Date: 08/28/2016 00:05:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueShlok_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueShlok]'))
ALTER TABLE [dbo].[QueShlok] DROP CONSTRAINT [FK_QueShlok_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueShlok]') AND type in (N'U'))
DROP TABLE [dbo].[QueShlok]
GO
/****** Object:  Table [dbo].[QueShortNote]    Script Date: 08/28/2016 00:05:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueShortNote_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueShortNote]'))
ALTER TABLE [dbo].[QueShortNote] DROP CONSTRAINT [FK_QueShortNote_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueShortNote]') AND type in (N'U'))
DROP TABLE [dbo].[QueShortNote]
GO
/****** Object:  Table [dbo].[BookChapter]    Script Date: 08/28/2016 00:05:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BookChapter_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[BookChapter]'))
ALTER TABLE [dbo].[BookChapter] DROP CONSTRAINT [FK_BookChapter_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BookChapter]') AND type in (N'U'))
DROP TABLE [dbo].[BookChapter]
GO
/****** Object:  Table [dbo].[QueSwaminiVat]    Script Date: 08/28/2016 00:05:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueSwaminiVat_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueSwaminiVat]'))
ALTER TABLE [dbo].[QueSwaminiVat] DROP CONSTRAINT [FK_QueSwaminiVat_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueSwaminiVat]') AND type in (N'U'))
DROP TABLE [dbo].[QueSwaminiVat]
GO
/****** Object:  Table [dbo].[QueWhoWhomWhen]    Script Date: 08/28/2016 00:05:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueWhoWhomWhen_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueWhoWhomWhen]'))
ALTER TABLE [dbo].[QueWhoWhomWhen] DROP CONSTRAINT [FK_QueWhoWhomWhen_Book]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueWhoWhomWhen]') AND type in (N'U'))
DROP TABLE [dbo].[QueWhoWhomWhen]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 08/28/2016 00:05:27 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Book_ExamLevel]') AND parent_object_id = OBJECT_ID(N'[dbo].[Book]'))
ALTER TABLE [dbo].[Book] DROP CONSTRAINT [FK_Book_ExamLevel]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Book]') AND type in (N'U'))
DROP TABLE [dbo].[Book]
GO
/****** Object:  Table [dbo].[QuestionCategory]    Script Date: 08/28/2016 00:05:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuestionCategory]') AND type in (N'U'))
DROP TABLE [dbo].[QuestionCategory]
GO
/****** Object:  Table [dbo].[ExamLevel]    Script Date: 08/28/2016 00:05:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExamLevel]') AND type in (N'U'))
DROP TABLE [dbo].[ExamLevel]
GO
/****** Object:  Table [dbo].[ExamLevel]    Script Date: 08/28/2016 00:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ExamLevel]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ExamLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name_Eng] [nvarchar](500) NULL,
	[Name_Guj] [nvarchar](500) NULL,
 CONSTRAINT [PK_ExamLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[ExamLevel] ON
INSERT [dbo].[ExamLevel] ([Id], [Name_Eng], [Name_Guj]) VALUES (1, N'Prarambh', N'પ્રારંભ')
INSERT [dbo].[ExamLevel] ([Id], [Name_Eng], [Name_Guj]) VALUES (2, N'Pravesh', N'પ્રવેશ')
INSERT [dbo].[ExamLevel] ([Id], [Name_Eng], [Name_Guj]) VALUES (3, N'Parichay', N'પરિચય')
SET IDENTITY_INSERT [dbo].[ExamLevel] OFF
/****** Object:  Table [dbo].[QuestionCategory]    Script Date: 08/28/2016 00:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QuestionCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QuestionCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name_Eng] [nvarchar](500) NULL,
	[Name_Guj] [nvarchar](500) NULL,
 CONSTRAINT [PK_QuestionCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Book]    Script Date: 08/28/2016 00:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Book]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name_Eng] [nvarchar](500) NOT NULL,
	[Name_Guj] [nvarchar](500) NOT NULL,
	[Code_Eng] [nvarchar](50) NOT NULL,
	[Code_Guj] [nvarchar](50) NOT NULL,
	[ExamLevelId] [int] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Book] ON
INSERT [dbo].[Book] ([Id], [Name_Eng], [Name_Guj], [Code_Eng], [Code_Guj], [ExamLevelId]) VALUES (1, N'Ghanshyam Charitra', N'ઘનશ્યામ ચરિત્ર', N'GhC', N'ઘ. ચ.', 1)
INSERT [dbo].[Book] ([Id], [Name_Eng], [Name_Guj], [Code_Eng], [Code_Guj], [ExamLevelId]) VALUES (2, N'Yogiji Maharaj', N'યોગિજી મહારાજ', N'YoM', N'યો. મ.', 1)
INSERT [dbo].[Book] ([Id], [Name_Eng], [Name_Guj], [Code_Eng], [Code_Guj], [ExamLevelId]) VALUES (3, N'Kishore Satsang Prarambha', N'કીશોર સત્સંગ પ્રારંભ', N'KSPB', N'કી. સ. પ્રા', 1)
SET IDENTITY_INSERT [dbo].[Book] OFF
/****** Object:  Table [dbo].[QueWhoWhomWhen]    Script Date: 08/28/2016 00:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueWhoWhomWhen]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueWhoWhomWhen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Que_Guj] [nvarchar](max) NULL,
	[Who_Guj] [nvarchar](max) NULL,
	[Whom_Guj] [nvarchar](100) NULL,
	[WhenSpeaking_Guj] [nvarchar](max) NULL,
	[Que_Eng] [nvarchar](max) NULL,
	[Who_Eng] [nvarchar](100) NULL,
	[Whom_Eng] [nvarchar](100) NULL,
	[WhenSpeaking_Eng] [nvarchar](max) NULL,
	[Exams] [nvarchar](max) NULL,
 CONSTRAINT [PK_QueWhoWhomWhen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QueWhoWhomWhen] ON
INSERT [dbo].[QueWhoWhomWhen] ([Id], [BookId], [ChapterNumber], [Que_Guj], [Who_Guj], [Whom_Guj], [WhenSpeaking_Guj], [Que_Eng], [Who_Eng], [Whom_Eng], [WhenSpeaking_Eng], [Exams]) VALUES (1, 1, 22, N'બહુ ભૂખ લાગી હોય તો ચણા કે સુખડી આપું ', N'સુવાસીનીભાભી', N'ઘનશ્યામ', N'ઘનશ્યામે ભાભીને કહ્યું ઃ “ભૂખ બહુ લાગી છે. માટે જલદી ખાવાનું આપો.” ત્યારે', N'But if you are very hungry, shall I give you some grams or sukhdi?', N'Suvasinibhabhi ', N'Ghanshyam', N'One morning, when Suvasinibhabhi was cooking food, Ghanshyam came there as he', N'March, 2016 ')
INSERT [dbo].[QueWhoWhomWhen] ([Id], [BookId], [ChapterNumber], [Que_Guj], [Who_Guj], [Whom_Guj], [WhenSpeaking_Guj], [Que_Eng], [Who_Eng], [Whom_Eng], [WhenSpeaking_Eng], [Exams]) VALUES (2, 1, 8, N'અમે તમારા માટે રોજ થાળ લાવીશું.', N'સિદ્ધિઓ ', N'ભક્તિમાતા', N'સિદ્ધિઓએ લાવેલા થાળમાંથી માતાજી જમી રહ્યાં અને લક્ષ્મીબાઈ શીરો લઈને બહાર આવ્યા. આઠ સિદ્ધિઓ અને પકવાનના થાળ જોઈને નવાઈ પામ્યા. તે વખતે સિદ્ધિઓ કહે છે.', N'We shall bring delicacies for you everyday.', N'Siddhis', N'Bhaktimata', N'Once Bhaktimata was very hungry and Lakshmibai leisurely prepared food. Then...', N'March, 2016 ')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[QueWhoWhomWhen] OFF
/****** Object:  Table [dbo].[QueSwaminiVat]    Script Date: 08/28/2016 00:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueSwaminiVat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueSwaminiVat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Que_Eng] [nvarchar](max) NULL,
	[Ans_Eng] [nvarchar](max) NULL,
	[Que_Guj] [nvarchar](max) NULL,
	[Ans_Guj] [nvarchar](max) NULL,
	[Exams] [nvarchar](max) NULL,
 CONSTRAINT [PK_QueSwaminiVat] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QueSwaminiVat] ON
SET IDENTITY_INSERT [dbo].[QueSwaminiVat] OFF
/****** Object:  Table [dbo].[BookChapter]    Script Date: 08/28/2016 00:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BookChapter]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BookChapter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NULL,
	[Name_Eng] [nvarchar](500) NULL,
	[Name_Guj] [nvarchar](500) NULL,
 CONSTRAINT [PK_BookChapter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[BookChapter] ON
INSERT [dbo].[BookChapter] ([Id], [BookId], [ChapterNumber], [Name_Eng], [Name_Guj]) VALUES (1, 1, 1, N'Birth of Ghanshyam', N'ઘનશ્યામ નો જન્મ')
INSERT [dbo].[BookChapter] ([Id], [BookId], [ChapterNumber], [Name_Eng], [Name_Guj]) VALUES (2, 1, 2, N'Childhood Exploits', NULL)
INSERT [dbo].[BookChapter] ([Id], [BookId], [ChapterNumber], [Name_Eng], [Name_Guj]) VALUES (3, 1, 3, N'Darshan to Ramdayal', NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[BookChapter] OFF
/****** Object:  Table [dbo].[QueShortNote]    Script Date: 08/28/2016 00:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueShortNote]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueShortNote](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Que_Eng] [nvarchar](max) NULL,
	[Ans_Eng] [nvarchar](max) NULL,
	[Que_Guj] [nvarchar](max) NULL,
	[Ans_Guj] [nvarchar](max) NULL,
	[Exams] [nvarchar](max) NULL,
 CONSTRAINT [PK_QueShortNote] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QueShortNote] ON
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[QueShortNote] OFF
/****** Object:  Table [dbo].[QueShlok]    Script Date: 08/28/2016 00:05:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueShlok]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueShlok](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Que_Eng] [nvarchar](max) NULL,
	[Ans_Eng] [nvarchar](max) NULL,
	[Que_Guj] [nvarchar](max) NULL,
	[Ans_Guj] [nvarchar](max) NULL,
	[Exams] [nvarchar](max) NULL,
 CONSTRAINT [PK_QueShlok] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QueShlok] ON
INSERT [dbo].[QueShlok] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (1, 3, 5, N'Agachha Bhagwan......................sanmukho bhava.', N'Agachha Bhagwan Deva svasthanat Parameshwara,<br/>Aham pujam karishyami sada tvam sanmukho bhava.', NULL, NULL, N'March, 2014')
INSERT [dbo].[QueShlok] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (2, 3, 5, N'Uttishthotishtha.....................sanmukho bhava.', N'Uttishthotishtha he Natha Swaminarayan Prabho;<br/>Dharmasuno Dayasindho svesham shreyah param kuru.<br/>Agachha Bhagwan Deva svasthanat Parameshwara;<br/>Aham pujam karishyami sada tvam sanmukho bhava.', NULL, NULL, N'March, 2012 | March, 2009')
SET IDENTITY_INSERT [dbo].[QueShlok] OFF
/****** Object:  Table [dbo].[QueReason]    Script Date: 08/28/2016 00:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueReason]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueReason](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Que_Eng] [nvarchar](max) NULL,
	[Ans_Eng] [nvarchar](max) NULL,
	[Que_Guj] [nvarchar](max) NULL,
	[Ans_Guj] [nvarchar](max) NULL,
	[Exams] [nvarchar](max) NULL,
 CONSTRAINT [PK_QueReason] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QueReason] ON
INSERT [dbo].[QueReason] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (1, 1, 18, N'Very often Ghanshyam would sit on the pipal tree for a long time, looking west.', N'Ghanshyam told his friends, “There are the lands of Gujarat and Kathiawad in the west.Shri Krishna’s Dwarika lies there. Many aspirants who yearn to meet God live in that region.One day I want to go there from here. The devotees there are calling me.” So...', NULL, NULL, N'March, 2016 ')
INSERT [dbo].[QueReason] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (2, 1, 6, N'Bhaktimata gave Ghanshyam some gur to eat.', N'Ghanshyam told Bhaktimata, “I shall have my ears pierced if you give me some gur toeat.” Mother replied, “You will certainly get some gur provided you behave properly andsit still to have your ears pierced.Thus, she sent for some gur from inside the house andgave it to Ghanshyam.', NULL, NULL, N'March, 2016 ')
INSERT [dbo].[QueReason] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (3, 1, 43, N'The scholars of Kashi were spellbound.', N'There would be no end of discussion between the Advait scholars and the Dvait scholars.On scholars’ request and with Dharmadev’s permission, Ghanshyam entered thediscussion. He beautifully and very clearly explained the deep and difficult meanings ofverses from the Vedas. So everyone was spellbound by his knowledge and oratory.', NULL, NULL, N'March, 2016 ')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[QueReason] OFF
/****** Object:  Table [dbo].[QueOneSentence]    Script Date: 08/28/2016 00:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueOneSentence]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueOneSentence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Que_Eng] [nvarchar](max) NULL,
	[Ans_Eng] [nvarchar](max) NULL,
	[Que_Guj] [nvarchar](max) NULL,
	[Ans_Guj] [nvarchar](max) NULL,
	[Exams] [nvarchar](max) NULL,
 CONSTRAINT [PK_QueOneSentence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QueOneSentence] ON
INSERT [dbo].[QueOneSentence] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (1, 1, 24, N'To whom did the murti of Thakorji come and what did he do in the village of Gunda?', N'The murti of Thakorji came to Ghanshyam, took off the garland from his own neck, put it around Ghanshyam’s neck and then he returned to his throne.', NULL, NULL, N'March, 2016 | March, 2016 ')
INSERT [dbo].[QueOneSentence] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (2, 1, 12, N'What did Lakshmibai realize when she came to see Ghanshyam?', N'When Lakshmibai came to see Ghanshyam, she realized that Ghanshyam had a high fever and smallpox.', NULL, NULL, N'March, 2016 ')
INSERT [dbo].[QueOneSentence] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (3, 1, 44, N'In which form did Ghanshyam appear to Bhaktimata’s in her last time?', N'Ghanshyam appeared to Bhaktimata’s in the divine form of Narayan with four arms in her last time.', NULL, NULL, N'March, 2016 ')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[QueOneSentence] OFF
/****** Object:  Table [dbo].[QueKirtan]    Script Date: 08/28/2016 00:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueKirtan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueKirtan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Que_Eng] [nvarchar](max) NULL,
	[Ans_Eng] [nvarchar](max) NULL,
	[Que_Guj] [nvarchar](max) NULL,
	[Ans_Guj] [nvarchar](max) NULL,
	[Exams] [nvarchar](max) NULL,
 CONSTRAINT [PK_QueKirtan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QueKirtan] ON
INSERT [dbo].[QueKirtan] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (1, 3, 1, N'Nathi darta..............jnanne gaishu.', N'Nathi darta nathi karta, amara janni parva;<br/>Amare dar nathi koino, ame janmya chhie marva<br/>Ame a yagna arambhyo balidano ame daishu;<br/>Amara Akshar Purushottam, Gunatit jnanne gaishu.... (Bravery song)', NULL, NULL, N'March, 2016')
INSERT [dbo].[QueKirtan] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (2, 3, 3, N'Sadbuddhi........................sadya vidari.', N'Sadbuddhi sadgun Prabhu apo,<br/>Abhay kar muj shir par sthapo,<br/>Vighna sakalne sadya vidari.....', NULL, NULL, N'March, 2016')
INSERT [dbo].[QueKirtan] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (3, 3, 9, N'Narayan sukh data...........................gaya Kashi.', N'Narayan sukh data, dvij-kul tanu dhari,<br/>Pamar patit uddharya, aganit narnari....Jai<br/>Nitya nitya nautam lila karta Avinashi,<br/>Adsath tirath charne, koti gaya kashi....', NULL, NULL, N'March, 2016')
SET IDENTITY_INSERT [dbo].[QueKirtan] OFF
/****** Object:  Table [dbo].[QueFillInBlank]    Script Date: 08/28/2016 00:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueFillInBlank]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueFillInBlank](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Que_Eng] [nvarchar](max) NULL,
	[Ans_Eng] [nvarchar](max) NULL,
	[Que_Guj] [nvarchar](max) NULL,
	[Ans_Guj] [nvarchar](max) NULL,
	[Exams] [nvarchar](max) NULL,
 CONSTRAINT [PK_QueFillInBlank] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QueFillInBlank] ON
INSERT [dbo].[QueFillInBlank] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (1, 3, 15, N'Ramanand Swami named _________ the son of _________', N'Mulji, Bholanath', NULL, NULL, N'March, 2016')
INSERT [dbo].[QueFillInBlank] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (3, 3, 13, N'Maharaj had appointed _________ to look after the cattle of _________', N'Jodho shepherd, Dada Khachar', NULL, NULL, N'March, 2016')
INSERT [dbo].[QueFillInBlank] ([Id], [BookId], [ChapterNumber], [Que_Eng], [Ans_Eng], [Que_Guj], [Ans_Guj], [Exams]) VALUES (4, 3, 7, N'Gangama, who lived in the village of _________ was a disciple of _________ Swami.', N'Jetalpur, Atmanand', NULL, NULL, N'March, 2016')
SET IDENTITY_INSERT [dbo].[QueFillInBlank] OFF
/****** Object:  Table [dbo].[QueCorrectSequence]    Script Date: 08/28/2016 00:05:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueCorrectSequence]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueCorrectSequence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Title_Eng] [nvarchar](max) NULL,
	[Correct_Eng] [nvarchar](max) NULL,
	[Title_Guj] [nvarchar](max) NULL,
	[Correct_Guj] [nvarchar](max) NULL,
	[Exams] [nvarchar](max) NULL,
 CONSTRAINT [PK_QueCorrectSequence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QueCorrectSequence] ON
INSERT [dbo].[QueCorrectSequence] ([Id], [BookId], [ChapterNumber], [Title_Eng], [Correct_Eng], [Title_Guj], [Correct_Guj], [Exams]) VALUES (1, 2, 5, N'Use of Leisure Time', N'1. At two o’clock in the afternoon there was a 30 minute recess for the class.<br/>2. The boys often wondered, “What is Jina doing?”<br/>3. The teachers, too, would ask his friends, “What does Jina do while others play?”<br/>4. Jinabhai did not like to waste his free time. We, too, should not waste time.<br/>5. We should offer devotion to God.', NULL, NULL, N'March, 2016')
INSERT [dbo].[QueCorrectSequence] ([Id], [BookId], [ChapterNumber], [Title_Eng], [Correct_Eng], [Title_Guj], [Correct_Guj], [Exams]) VALUES (2, 2, 3, N'Jinabhai’s courage', N'1. The children ran helter-skelter out of fear of the teacher.<br/>2. Who would dare to bear witness against the headmaster?<br/>3. Why be afraid of speaking the truth?<br/>4. He saw the holy tilak-chandlo on Jinabhai’s forehead, and the innocence and honesty on his face.<br/>5. The truth always triumph.<br/>6. We should not be afraid of telling the truth.', NULL, NULL, N'March, 2015')
SET IDENTITY_INSERT [dbo].[QueCorrectSequence] OFF
/****** Object:  Table [dbo].[QueCorrectSentence]    Script Date: 08/28/2016 00:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueCorrectSentence]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueCorrectSentence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Title_Eng] [nvarchar](max) NULL,
	[Correct_Eng] [nvarchar](max) NULL,
	[Title_Guj] [nvarchar](max) NULL,
	[Correct_Guj] [nvarchar](max) NULL,
	[Exams] [nvarchar](max) NULL,
 CONSTRAINT [PK_QueCorrectSentence] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QueCorrectSentence] ON
INSERT [dbo].[QueCorrectSentence] ([Id], [BookId], [ChapterNumber], [Title_Eng], [Correct_Eng], [Title_Guj], [Correct_Guj], [Exams]) VALUES (1, 1, 47, N'Oceans of Tears', N'Rampratapbhai sent men with horses in all directions in a last desperate search for Ghanshyam. Rampratapbhai stopped going to his farm to work. ', NULL, NULL, N'March, 2016 ')
INSERT [dbo].[QueCorrectSentence] ([Id], [BookId], [ChapterNumber], [Title_Eng], [Correct_Eng], [Title_Guj], [Correct_Guj], [Exams]) VALUES (2, 1, 42, N'Ghanshyam’s Daily Routine', N'At three in the afternoon, he would again go for a bath in the river. Then, accompanied by his friends, he would without fail, go to the mandir at Hanuman Gadhi for darshan during the evening arti.', NULL, NULL, N'March, 2016 ')
INSERT [dbo].[QueCorrectSentence] ([Id], [BookId], [ChapterNumber], [Title_Eng], [Correct_Eng], [Title_Guj], [Correct_Guj], [Exams]) VALUES (3, 1, 31, N'The Importance of Ekadashi', N'The bawa immediately went into samadhi. He found himself transported to Yampuri. There he was severely beaten by the servants of Yam.', NULL, NULL, N'March, 2016 ')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[QueCorrectSentence] OFF
/****** Object:  Table [dbo].[QueCorrectOption]    Script Date: 08/28/2016 00:05:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[QueCorrectOption]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[QueCorrectOption](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookId] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[Title_Eng] [nvarchar](max) NULL,
	[Correct_Eng] [nvarchar](max) NULL,
	[Title_Guj] [nvarchar](max) NULL,
	[Correct_Guj] [nvarchar](max) NULL,
	[Exams] [nvarchar](max) NULL,
 CONSTRAINT [PK_QueCorrectOption] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[QueCorrectOption] ON
INSERT [dbo].[QueCorrectOption] ([Id], [BookId], [ChapterNumber], [Title_Eng], [Correct_Eng], [Title_Guj], [Correct_Guj], [Exams]) VALUES (1, 1, 16, N'Monkeys get a sound thrashing:', N'* Ghanshyam assumed as many separate forms as there were monkeys.<br/>* Dharmadev came out with a big stick.', NULL, NULL, N'March, 2016')
INSERT [dbo].[QueCorrectOption] ([Id], [BookId], [ChapterNumber], [Title_Eng], [Correct_Eng], [Title_Guj], [Correct_Guj], [Exams]) VALUES (2, 1, 4, N'Naming the Lord:', N'* Three months.<br/>* Sage Markandey.<br/>* Sign of Cancer.', NULL, NULL, N'March, 2016')
INSERT [dbo].[QueCorrectOption] ([Id], [BookId], [ChapterNumber], [Title_Eng], [Correct_Eng], [Title_Guj], [Correct_Guj], [Exams]) VALUES (3, 1, 9, N'Dudhpakh instead of khichdi:', N'* I bring some milk.<br/>* Mother, don’t worry.', NULL, NULL, N'March, 2016')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[QueCorrectOption] OFF
/****** Object:  ForeignKey [FK_Book_ExamLevel]    Script Date: 08/28/2016 00:05:27 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Book_ExamLevel]') AND parent_object_id = OBJECT_ID(N'[dbo].[Book]'))
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_ExamLevel] FOREIGN KEY([ExamLevelId])
REFERENCES [dbo].[ExamLevel] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Book_ExamLevel]') AND parent_object_id = OBJECT_ID(N'[dbo].[Book]'))
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_ExamLevel]
GO
/****** Object:  ForeignKey [FK_QueWhoWhomWhen_Book]    Script Date: 08/28/2016 00:05:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueWhoWhomWhen_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueWhoWhomWhen]'))
ALTER TABLE [dbo].[QueWhoWhomWhen]  WITH CHECK ADD  CONSTRAINT [FK_QueWhoWhomWhen_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueWhoWhomWhen_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueWhoWhomWhen]'))
ALTER TABLE [dbo].[QueWhoWhomWhen] CHECK CONSTRAINT [FK_QueWhoWhomWhen_Book]
GO
/****** Object:  ForeignKey [FK_QueSwaminiVat_Book]    Script Date: 08/28/2016 00:05:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueSwaminiVat_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueSwaminiVat]'))
ALTER TABLE [dbo].[QueSwaminiVat]  WITH CHECK ADD  CONSTRAINT [FK_QueSwaminiVat_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueSwaminiVat_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueSwaminiVat]'))
ALTER TABLE [dbo].[QueSwaminiVat] CHECK CONSTRAINT [FK_QueSwaminiVat_Book]
GO
/****** Object:  ForeignKey [FK_BookChapter_Book]    Script Date: 08/28/2016 00:05:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BookChapter_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[BookChapter]'))
ALTER TABLE [dbo].[BookChapter]  WITH CHECK ADD  CONSTRAINT [FK_BookChapter_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BookChapter_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[BookChapter]'))
ALTER TABLE [dbo].[BookChapter] CHECK CONSTRAINT [FK_BookChapter_Book]
GO
/****** Object:  ForeignKey [FK_QueShortNote_Book]    Script Date: 08/28/2016 00:05:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueShortNote_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueShortNote]'))
ALTER TABLE [dbo].[QueShortNote]  WITH CHECK ADD  CONSTRAINT [FK_QueShortNote_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueShortNote_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueShortNote]'))
ALTER TABLE [dbo].[QueShortNote] CHECK CONSTRAINT [FK_QueShortNote_Book]
GO
/****** Object:  ForeignKey [FK_QueShlok_Book]    Script Date: 08/28/2016 00:05:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueShlok_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueShlok]'))
ALTER TABLE [dbo].[QueShlok]  WITH CHECK ADD  CONSTRAINT [FK_QueShlok_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueShlok_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueShlok]'))
ALTER TABLE [dbo].[QueShlok] CHECK CONSTRAINT [FK_QueShlok_Book]
GO
/****** Object:  ForeignKey [FK_QueReason_Book]    Script Date: 08/28/2016 00:05:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueReason_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueReason]'))
ALTER TABLE [dbo].[QueReason]  WITH CHECK ADD  CONSTRAINT [FK_QueReason_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueReason_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueReason]'))
ALTER TABLE [dbo].[QueReason] CHECK CONSTRAINT [FK_QueReason_Book]
GO
/****** Object:  ForeignKey [FK_QueOneSentence_Book]    Script Date: 08/28/2016 00:05:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueOneSentence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueOneSentence]'))
ALTER TABLE [dbo].[QueOneSentence]  WITH CHECK ADD  CONSTRAINT [FK_QueOneSentence_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueOneSentence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueOneSentence]'))
ALTER TABLE [dbo].[QueOneSentence] CHECK CONSTRAINT [FK_QueOneSentence_Book]
GO
/****** Object:  ForeignKey [FK_QueKirtan_Book]    Script Date: 08/28/2016 00:05:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueKirtan_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueKirtan]'))
ALTER TABLE [dbo].[QueKirtan]  WITH CHECK ADD  CONSTRAINT [FK_QueKirtan_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueKirtan_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueKirtan]'))
ALTER TABLE [dbo].[QueKirtan] CHECK CONSTRAINT [FK_QueKirtan_Book]
GO
/****** Object:  ForeignKey [FK_QueFillInBlank_Book]    Script Date: 08/28/2016 00:05:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueFillInBlank_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueFillInBlank]'))
ALTER TABLE [dbo].[QueFillInBlank]  WITH CHECK ADD  CONSTRAINT [FK_QueFillInBlank_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueFillInBlank_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueFillInBlank]'))
ALTER TABLE [dbo].[QueFillInBlank] CHECK CONSTRAINT [FK_QueFillInBlank_Book]
GO
/****** Object:  ForeignKey [FK_QueCorrectSequence_Book]    Script Date: 08/28/2016 00:05:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectSequence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectSequence]'))
ALTER TABLE [dbo].[QueCorrectSequence]  WITH CHECK ADD  CONSTRAINT [FK_QueCorrectSequence_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectSequence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectSequence]'))
ALTER TABLE [dbo].[QueCorrectSequence] CHECK CONSTRAINT [FK_QueCorrectSequence_Book]
GO
/****** Object:  ForeignKey [FK_QueCorrectSentence_Book]    Script Date: 08/28/2016 00:05:30 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectSentence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectSentence]'))
ALTER TABLE [dbo].[QueCorrectSentence]  WITH CHECK ADD  CONSTRAINT [FK_QueCorrectSentence_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectSentence_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectSentence]'))
ALTER TABLE [dbo].[QueCorrectSentence] CHECK CONSTRAINT [FK_QueCorrectSentence_Book]
GO
/****** Object:  ForeignKey [FK_QueCorrectOption_Book]    Script Date: 08/28/2016 00:05:30 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectOption_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectOption]'))
ALTER TABLE [dbo].[QueCorrectOption]  WITH CHECK ADD  CONSTRAINT [FK_QueCorrectOption_Book] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_QueCorrectOption_Book]') AND parent_object_id = OBJECT_ID(N'[dbo].[QueCorrectOption]'))
ALTER TABLE [dbo].[QueCorrectOption] CHECK CONSTRAINT [FK_QueCorrectOption_Book]
GO
