
<form materialize class="form-horizontal" style="margin-top:50px;" [formGroup]="form" (ngSubmit)="save()">
    <fieldset>
        <legend>{{ title }}</legend>

        <input type="hidden" class="form-control" id="Id"
               placeholder="Please enter Id"
               formControlName="Id"
               [(ngModel)]="attendee.Id" readonly />

        <div class="form-group">
            <label class="control-label col-sm-1" for="FirstName" [class.active]="attendee.FirstName" data-error="First Name is required and needs to contain at least 3 chars">First Name:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control input-sm validate" id="FirstName" placeholder="Please enter Attendee First Name"
                       style="border: 1px solid rgb(153, 202, 129);border-radius: .2em;box-shadow: 0 0 8px rgba(0,0,0,.08) inset;"
                       formControlName="FirstName"
                       [(ngModel)]="attendee.FirstName"
                       [class.invalid]="form.controls['FirstName'].touched && !form.controls['FirstName'].valid">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="MiddleName" [class.active]="attendee.MiddleName" data-error="Middle Name needs to contain at least 3 chars" style="white-space:nowrap">Middle Name:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control input-sm validate" id="MiddleName" placeholder="Please enter Attendee Middle Name"
                       style="border: 1px solid rgb(153, 202, 129);border-radius: .2em;box-shadow: 0 0 8px rgba(0,0,0,.08) inset;"
                       formControlName="MiddleName"
                       [(ngModel)]="attendee.MiddleName"
                       [class.invalid]="form.controls['MiddleName'].touched && !form.controls['MiddleName'].valid">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="LastName" [class.active]="attendee.LastName" data-error="Last Name is required and needs to contain at least 3 chars">Last Name:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control input-sm validate" id="LastName" placeholder="Please enter Attendee Last Name"
                       style="border: 1px solid rgb(153, 202, 129);border-radius: .2em;box-shadow: 0 0 8px rgba(0,0,0,.08) inset;"
                       formControlName="LastName"
                       [(ngModel)]="attendee.LastName"
                       [class.invalid]="form.controls['LastName'].touched && !form.controls['LastName'].valid">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="Gender" [class.active]="attendee.Gender" data-error="Gender is required">Gender:</label>
            <div class="col-sm-11">
                <select class="form-control input-sm validate" id="Gender"
                        formControlName="Gender"
                        [(ngModel)]="attendee.Gender"
                        [class.invalid]="form.controls['Gender'].touched && !form.controls['Gender'].valid">
                    <option>M</option>
                    <option>F</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="Address" [class.active]="attendee.Address">Address:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control input-sm validate" id="Address" placeholder="Please enter Attendee Address"
                       style="border: 1px solid rgb(153, 202, 129);border-radius: .2em;box-shadow: 0 0 8px rgba(0,0,0,.08) inset;"
                       formControlName="Address"
                       [(ngModel)]="attendee.Address"
                       [class.invalid]="form.controls['Address'].touched && !form.controls['Address'].valid">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="CityId" [class.active]="attendee.CityId" data-error="City is required">City:</label>
            <div class="col-sm-11">
                <cities-ddl [selectedCityId]="attendee.CityId" (select)="onCityChange($event)">Loading....</cities-ddl>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="ZoneId" [class.active]="attendee.ZoneId" data-error="Zone is required">Zone:</label>
            <div class="col-sm-11">
                <zones-ddl [selectedZonetId]="attendee.ZoneId" (select)="onZoneChange($event)">Loading....</zones-ddl>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="ImsId" [class.active]="attendee.ImsId" style="white-space:nowrap">IMS Id:</label>
            <div class="col-sm-11">
                <input type="text" class="form-control input-sm validate" id="ImsId" placeholder="Please enter IMS Id"
                       style="border: 1px solid rgb(153, 202, 129);border-radius: .2em;box-shadow: 0 0 8px rgba(0,0,0,.08) inset;"
                       formControlName="ImsId"
                       [(ngModel)]="attendee.ImsId"
                       [class.invalid]="form.controls['ImsId'].touched && !form.controls['ImsId'].valid">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="IsKaryakar">Karyakar?:</label>
            <div class="col-sm-1">
                <input type="checkbox" id="IsKaryakar"
                       formControlName="IsKaryakar"
                       [(ngModel)]="attendee.IsKaryakar" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="IsDeleted">Deleted?:</label>
            <div class="col-sm-1">
                <input type="checkbox" id="IsDeleted"
                       formControlName="IsDeleted"
                       [(ngModel)]="attendee.IsDeleted" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-1" for="IsDeleted">Seva/s:</label>
            <div class="col-sm-11" style="width: 400px; margin-bottom: 20px;">
                <sevas-ddl>Loading....</sevas-ddl>
                <!--<pre>{{itemsToString(value)}}</pre>-->
            </div>
        </div>

        <div class="form-group col-sm-12" style="float:right">
            <button class="col-sm-1 btn btn-default btn-sm" style="float:right;" (click)="onBack($event)">
                Back
            </button>
            <button type="submit" class="col-sm-1 btn btn-default btn-sm" style="float:right;margin-right:10px;"
                    [disabled]="!form.valid">
                Submit
            </button>
        </div>
    </fieldset>
</form>
