<h4 class='QAListTitle' style="text-align:left;padding-top:10px;padding-bottom:10px;">
    Attendees
    <a routerLink="/attendees/new" style="float:right;margin-right:30px;color:white;font-weight:bold">
        <i class="glyphicon glyphicon-plus">Add</i>
    </a>
</h4>

<table *ngIf="attendees_vm_list != null && attendees_vm_list != undefined"
       class="table" style="background-color:#35acdf; margin-top:50px;">

    <thead>
        <tr style="font-weight:bold;font-size:10.5pt;">
            <th colspan="3">
                <input type="text" class="form-control input-sm" placeholder="Please enter filter value"  [(ngModel)]="filter" (keyup.enter)="onFilter($event)"/>
            </th>
        </tr>

        <tr style="font-weight:bold;font-size:10.5pt;">
            <th></th>
            <th>Name & Address</th>
            <th width="35px;"></th>
        </tr>
    </thead>
    <tbody style="font-weight:bold;font-size:10pt;color:black">
        <tr *ngFor="let item of attendees_vm_list">
            <td style="width:10px;">
                <span *ngIf="item.IsKaryakar==true" class="fa fa-user-circle-o"></span>
            </td>
            <td>
                <div class="form-group" style="margin-bottom:0px;">
                    <div class="col-sm-4" style="padding-left:0px;"><span [ngClass]="{'fa-male': item.Gender=='M', 'fa-female': item.Gender=='F'}" class="fa"></span> {{item.FullName}}</div>
                    <div class="col-sm-2" style="white-space:nowrap; text-align:right;padding-right:0px;">
                        <span class="fa fa-map"></span> {{item.ZoneName}}
                    </div>
                    <div class="col-sm-6" style="white-space:nowrap; text-align:right;padding-right:0px;">
                        <span class="fa fa-home"></span> {{item.Address}}
                    </div>
                </div>
            </td>
            <td>
                <a [routerLink]="['/attendees', item.Id]" style="color:white;font-weight:bold;white-space:nowrap">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
            </td>
        </tr>
    </tbody>
</table>