<h4 class='QAListTitle' style="text-align:left;padding-top:10px;padding-bottom:10px;white-space:nowrap;z-index:900">
    <div class="control-group">
        <span class="col-sm-2" style="margin-left:0px;padding-left:0px;">Attendees</span>
        <button class="btn btn-primary btn-sm" routerLink="/attendees/new" style="color:white;font-weight:bold">
            <i class="glyphicon glyphicon-plus">Add</i>
        </button>
    </div>
    <hr style="height:5px;margin:0px;padding:0px;border-color:transparent" />

    <div class="control-group">
        <input type="text" class="form-control input-sm"
               style="float:left;width:250px;"
               placeholder="Please enter filter value" [(ngModel)]="filter" (keyup)="onFilter($event)" />
    </div>
</h4>

<table *ngIf="attendees_vm_list != null && attendees_vm_list != undefined"
       class="table" style="background-color:#35acdf; margin-top:90px;">
    <thead>
        <tr style="font-weight:bold;font-size:10.5pt;">
            <th style="width:15px;"></th>
            <th>Name & Address</th>
            <th style="width:25px;">IMS Id</th>
            <th width="35px;"></th>
        </tr>
    </thead>
    <tbody style="font-weight:bold;font-size:10pt;color:black">
        <tr *ngFor="let item of attendees_vm_list">
            <td style="width:15px;">
                <div *ngIf="item.IsKaryakar==true" class="karyakarCircle">
                    K
                </div>
                <!--<span *ngIf="item.IsKaryakar==true" class="fa fa-user-circle-o"></span>-->
            </td>         

            <td>
                <div class="form-group" style="margin-bottom:0px;">
                    <div class="col-sm-4" style="padding-left:0px;">
                        <span [ngClass]="{'fa-male': item.Gender=='M', 'fa-female': item.Gender=='F'}" class="fa"></span> <span *ngIf="item.IsDeleted == true" class="fa fa-close" style="color:red"></span> {{item.FullName}}
                    </div>
                    <div class="col-sm-2" style="white-space:nowrap; text-align:right;padding-right:0px;">
                        <span class="fa fa-map"></span> {{item.CityName}}
                    </div>
                    <div class="col-sm-6" style="white-space:nowrap; text-align:right;padding-right:0px;">
                        <span class="fa fa-home"></span> {{item.Address}}
                    </div>
                </div>
            </td>
            <td style="width:25px;">
                {{item.ImsId}}
            </td>
            <td>
                <a [routerLink]="['/attendees', item.Id]" style="color:white;font-weight:bold;white-space:nowrap">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
            </td>
        </tr>
    </tbody>
</table>