@using Mvc.Core.ThirdParty
@using YogiApekshit.Web.Models
@using SwamiXitiz.Data.ModelsPartial

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page page-dashboard">
    @Html.Partial("_BreadcrumbPartial", new BreadcrumbAndTitleModel("Dashboard"))

    <div class="row">
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                <div class="front bg-greensea" style="text-align:center">
                    <img src="~/Images/GhC/GhC-eng.jpg" width="182px" height="250px" />
                </div>
                <div class="back bg-greensea" style="padding: 28px;text-align:center">
                    <img src="~/Images/GhC/GhC-eng.jpg" width="182px" height="250px" />
                </div>
            </div>
        </div>
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                <div class="front bg-lightred" style="text-align:center">
                    <img src="~/Images/YoM/YoM-eng.jpg" width="182px" height="250px" />
                </div>
                <div class="back bg-lightred" style="padding: 28px;text-align:center">
                    <img src="~/Images/YoM/YoM-eng.jpg" width="182px" height="250px" />
                </div>
            </div>
        </div>
        <div class="card-container col-lg-3 col-sm-6 col-sm-12">
            <div class="card">
                <div class="front bg-blue" style="text-align:center">
                    <img src="~/Images/KsP/KsP-eng.jpg" width="182px" height="250px" />
                </div>

                <div class="back bg-blue" style="padding: 28px;text-align:center">
                    <img src="~/Images/KsP/KsP-eng.jpg" width="182px" height="250px" />
                </div>
            </div>
        </div>
    </div>
</div>
