@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div ng-view></div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/app/routeConfig.js"></script>
    <script type="text/javascript" src="~/Scripts/app/loginCtrl.js"></script>
}
