<h4 class='QAListTitle' style="text-align:left;padding-top:10px;padding-bottom:10px;">
    Attendances
</h4>

<table *ngIf="attendances_vm_list != null && attendances_vm_list != undefined"
       class="table" style="background-color:#35acdf; margin-top:50px;">

    <thead>
        <tr style="font-weight:bold;font-size:10.5pt;">
            <th colspan="6">
                <input type="text" class="form-control input-sm" placeholder="Please enter filter value"  [(ngModel)]="filter" (keyup.enter)="onFilter($event)"/>
            </th>
        </tr>

        <tr style="font-weight:bold;font-size:10.5pt;">
            <th>Name</th>
            <th>Zone</th>
            <th>Address</th>
            <th>Is Karyakar ?</th>
            <th width="35px;"></th>
        </tr>
    </thead>
    <tbody style="font-weight:bold;font-size:10pt;color:black">
        <tr *ngFor="let item of attendances_vm_list">
            <td>
                {{item.AttendeeFullName}}
            </td>
            <td>
                {{item.ZoneName}}
            </td>
            <td>
                {{item.Address}}
            </td>
            <td>
                {{item.IsKaryakar}}
            </td>
            <td>
                <a *ngIf="item.IsAttended != true" href="#" class="btn btn-info btn-sm" style="background-color:green">
                    <span class="glyphicon glyphicon-time"></span> In
                </a>
                <span *ngIf="item.IsAttended == true">{{item.AttendanceTime}}</span>
            </td>
        </tr>
    </tbody>
</table>