<h4 class='QAListTitle' style="text-align:left;padding-top:10px;padding-bottom:5px;white-space:nowrap">

    <div class="row">
        <div class="col-sm-1" style="margin-right:30px;margin-top:4px;">
            <label class="control-label" style="font-size:18px;">Attendances: </label>
        </div>

        <div class="col-sm-2">
            <event-schedules-ddl (select)="onScheduleChange($event)">Loading....</event-schedules-ddl>
        </div>
        <div class="col-sm-1" style="padding-left:0px;">
            <button (click)="onGenderSelect('M', $event)" class="btn btn-primary btn-sm" [style.background-color]="selectedGender=='M' ? '#16a085': ''">
                <span class="fa fa-male"></span> M
            </button>
            <button (click)="onGenderSelect('F',$event)" class="btn btn-primary btn-sm" [style.background-color]="selectedGender=='F' ? '#16a085': ''">
                <span class="fa fa-female"></span> F
            </button>
        
            <button (click)="onRefreshGetAllItems($event)" class="btn btn-primary btn-sm" style="margin-left:5px;">
                <span class="glyphicon glyphicon-refresh"></span> Refresh
            </button>
        </div>
    </div>
</h4>

<table *ngIf="attendances_vm_list != null && attendances_vm_list != undefined"
       class="table" style="background-color:#35acdf; margin-top:50px;">
    <thead>
        <tr style="font-weight:bold;font-size:10.5pt;">
            <th colspan="6">
                <input type="text" class="form-control input-sm" placeholder="Please enter filter value" [(ngModel)]="filter" (keyup.enter)="onFilter($event)" />
            </th>
        </tr>

        <tr style="font-weight:bold;font-size:10.5pt;">
            <th>Name</th>
            <th>Zone</th>
            <th>Address</th>
            <th>Karyakar</th>
            <th width="50px;"></th>
        </tr>
    </thead>
    <tbody style="font-weight:bold;font-size:10pt;color:black">
        <tr *ngFor="let item of attendances_vm_list" >
            <td style="white-space:nowrap">
                {{item.AttendeeFullName}}
            </td>
            <td style="white-space:nowrap">
                {{item.ZoneName}}
            </td>
            <td>
                {{item.Address}}
            </td>
            <td>
                {{item.IsKaryakar}}
            </td>
            <td style="white-space:nowrap">
                <button *ngIf="item.IsAttended != true" (click)="OnTakeAttendance(item, $event)" class="btn btn-success btn-sm" >
                    <span class="glyphicon glyphicon-time"></span> In
                </button>
              
                <span *ngIf="item.IsAttended == true">{{item.AttendanceTimeOnly}} </span>
            </td>
        </tr>
    </tbody>
</table>