<h4 class='QAListTitle' style="text-align:left;padding-top:10px;padding-bottom:5px;white-space:nowrap;z-index:900">

    <div class="row">
        <div class="col-sm-11">
            <table>
                <tr>
                    <td>
                        <label class="control-label" style="font-weight:bold;font-size:10.5pt;">Attendances: </label>
                    </td>
                    <td style="padding-left:5px;">
                        <event-schedules-ddl (select)="onScheduleChange($event)">Loading....</event-schedules-ddl>
                    </td>
                    <td style="padding-left:5px;">
                        <button (click)="onGenderSelect('M', $event)" class="btn btn-primary btn-sm" [style.background-color]="selectedGender=='M' ? '#16a085': ''">
                            <span class="fa fa-male"></span> M
                        </button>
                    </td>
                    <td style="padding-left:5px;">
                        <button (click)="onGenderSelect('F',$event)" class="btn btn-primary btn-sm" [style.background-color]="selectedGender=='F' ? '#16a085': ''">
                            <span class="fa fa-female"></span> F
                        </button>
                    </td>
                    <td style="padding-left:5px;">
                        <button (click)="onRefreshGetAllItems($event)" class="btn btn-primary btn-sm" >
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" style="height:5px">
                    </td>
                </tr>
                <tr style="font-size:10.5pt;">
                    <td colspan="3">                        
                        <input type="text" class="form-control input-sm" placeholder="Please enter filter value" [(ngModel)]="filter" (keyup.enter)="onFilter($event)" />
                    </td>
                    <td colspan="2" style="padding-left:5px;padding-right:10px;">
                        <button routerLink="/attendees/new" class="btn btn-primary btn-sm">
                            <i class="glyphicon glyphicon-plus">Add</i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</h4>

<table *ngIf="attendances_vm_list != null && attendances_vm_list != undefined"
       class="table" style="background-color:#35acdf; margin-top:100px;">
    <thead>
        <tr style="font-weight:bold;font-size:10.5pt;">
            <th></th>
            <th>Name & Address</th>
            <th width="50px;"></th>
        </tr>
    </thead>
    <tbody style="font-weight:bold;font-size:10pt;color:black">
        <tr *ngFor="let item of attendances_vm_list">
            <td style="width:10px;">
                <span *ngIf="item.IsKaryakar==true" class="fa fa-user-circle-o"></span>
            </td>
            <td>
                <div class="form-group" style="margin-bottom:0px;" >
                    <div class="col-sm-4" style="padding-left:0px;"><span class="fa fa-user"></span> {{item.AttendeeFullName}}</div>
                    <div class="col-sm-2" style="white-space:nowrap; text-align:right;padding-right:0px;">
                        <span class="fa fa-map"></span> {{item.ZoneName}}
                    </div>
                    <div class="col-sm-6" style="white-space:nowrap; text-align:right;padding-right:0px;">
                        <span class="fa fa-home"></span> {{item.Address}}
                    </div>
                </div>
            </td>
            <td style="white-space:nowrap;padding:4px;">
                <button *ngIf="item.IsAttended != true" (click)="OnTakeAttendance(item, $event)" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-time"></span> In
                </button>

                <span *ngIf="item.IsAttended == true">{{item.AttendanceTimeOnly}} </span>
            </td>
        </tr>
    </tbody>
</table>